<% @page_title = "UTD | Login" -%>
  <div class="Sign_Form">
    <h1>Log in</h1>
    <%= form_tag(:action => 'new_session') do %>
      <p>Username or Email:</br>
        <%= text_field_tag(:user_credential) %>
      </p>
      <p>Password:</br>
        <%= password_field_tag :password %>
      </p>
      <%= submit_tag("Log In") %>
        <% end %>
  </div>